#login-page {
    display: block;
    width: 100%;
    max-width: 550px;
    margin-top: 5%;
}

#email {
    margin-left: 0;
}

#password {
    margin-left: 0;
}

#password-again {
    margin-left: 0 !important;
}

#name {
    margin-left: 0 !important;
}

#surname {
    margin-left: 0 !important;
}

#birthday {
    margin-left: 0;
}

#datepicker {
    margin-left: 0;
}

@media screen and (max-width: 580px){
    #login-page {
        margin: 0;
    }
    .card-panel {
        margin: 0;
    }
}