<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../resources/css/materialize.min.css"
          media="screen,projection"/>
    <link rel="stylesheet" href="../resources/css/style.css"/>
    <link rel="stylesheet" href="../resources/css/meeting.css"/>
    <link rel="stylesheet" href="../resources/css/for_map.css"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header>
    <ul id="slide-out" class="side-nav fixed grey lighten-4">
        <nav class="nav-wrapper center hide-on-med-and-down grey darken-1" href="#">
            <a class="brand-logo hide-on-med-and-down center valign-wrapper" id="logo" href="/">FindBuddy</a>
        </nav>
        <!--/*@thymesVar id="username" type=""*/-->
        <li th:if="${username}" class="no-padding" id="username">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect"><i class="material-icons">perm_identity</i><span
                            th:text="${username}"></span><i
                            class="material-icons right" style="margin-right: 0">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a class="waves-effect" th:href="|/user/0|">Профиль</a></li>
                            <li><a class="waves-effect" th:href="|/settings|">Настройки</a></li>
                            <li><a class="waves-effect" th:href="@{/logout}">Выход</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li th:unless="${username}"><a th:href="@{/login}" class="waves-effect">Войти</a></li>
        <li th:if="${username}"><a href="/feed" class="waves-effect">Моя
            лента</a></li>
        <li th:if="${username}"><a href="/subscriptions" class="waves-effect">Мои подписки</a></li>
        <li><a href="/" class="waves-effect">Все встречи</a></li>
        <li><a href="/categories" class="waves-effect">Все категории</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li th:if="${username}"><a th:href="@{/meetings/create}"
                                   class="waves-effect btn light-blue accent-1">Создать
            встречу</a></li>
    </ul>
    <nav class="grey darken-1 fixed">
        <div class="nav-wrapper">
            <form class="row" id="search-form">
                <a href="#" data-activates="slide-out" class="button-collapse" id="btn-collapse"><i
                        class="material-icons">menu</i></a>
                <div id="search-field" class="input-field col l12"
                     style="padding-left: 0;padding-right: 0">
                    <input class="" id="search" type="search" placeholder=""/>
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>

        </div>
    </nav>
</header>
<main>
    <div class="parallax-container">
        <div id="main-content">
            <div class="row" id="main-row" style="margin-bottom: 0">
                <div class="col s12 m10 l10 offset-l1 offset-m1">
                    <div class="meeting-author row">
                        <a th:if="${meeting.authorId}" th:href="|/user/${meeting.authorId}|">
                            <img th:src="${meeting.authorPhoto} != null ? |/icons/${meeting.authorPhoto}|
                             : |/icons/no_photo.png|"
                                 class="author-avatar responsive-img circle"
                                 style="vertical-align:middle"/>
                              <span class="black-text author-link"
                                    style="margin-left: 1%" th:text="${meeting.authorName}">
                              </span>
                        </a>
                        <a th:if="${isAuthor}" th:href="|/meeting/${meeting.id}/settings|">
                            <i class="small material-icons right black-text">settings</i>
                        </a>
                        <a th:unless="${meeting.authorId}">
                            <img th:src="|/images/no_photo.png|"
                                 class="author-avatar responsive-img circle"
                                 style="vertical-align:middle"/>
                              <span class="black-text"
                                    style="margin-left: 1%" th:text="'Имя автора неизесно'">
                              </span>
                        </a>
                    </div>
                    <div class="divider" style="margin-bottom: 1.5%"></div>
                    <div class="row" th:id="${meeting.id}">
                        <div th:class="'chip row'" th:text="${meeting.categoryName}">
                        </div>
                        <div class="meeting-heading row">
                            <h5 class="meeting-header black-text flow-text"
                                th:text="${meeting.title}"></h5>
                            <div class="meeting-date">
                                <div class="date-wrapper">
                                    <p class="center flow-text"
                                       th:text="${meeting.convertDate()}">Дата</p>
                                    <!--<h5 class="right-align" style="margin: 0">октября</h5>-->
                                    <p class="center flow-text" style="margin-top: 0;"
                                       th:text="${meeting.convertTime()}">Время</p>
                                </div>
                            </div>
                        </div>
                        <div class="meeting-description col s12" style="padding-left: 0">
                            <p><strong></strong></p>
                            <p th:text="${meeting.description}"></p>
                        </div>
                        <div class="meeting-bottom col s8 left" style="padding-left: 0;
                        margin-top: 1%">
                            <ul class="meeting-info">
                                <li class="">
                                    <a class="grey-text" th:text="|м.${meeting.station}|">м.
                                        Автово</a>
                                </li>
                                <!--<li class="">-->
                                <!--<a href="#" class="grey-text"-->
                                <!--th:text="|Подписчиков: ${meeting.subscribersNum}|">5-->
                                <!--подписчиков</a>-->
                                <!--</li>-->
                                <!--<li class="">-->
                                <!--<a class="grey-text"></a>-->
                                <!--</li>-->
                            </ul>
                            <a th:if="${username}" class="waves-effect waves-light btn"
                               id="subscribe-meeting-button"
                               th:text="${alreadySubscribed} ? 'Вы подписаны' : 'Подписаться'"
                               th:attr="data-meeting=${meeting.id}, data-subscribed=${alreadySubscribed}"
                            >
                            </a>
                        </div>
                    </div>
                    <div class="bottom-part" style="margin-top: 0;min-height: 300px;">
                        <div class="divider"></div>
                        <ul class="tabs">
                            <li class="tab col s4">
                                <a target="_self"
                                   th:href="|/meeting/${meeting.id}?location=comments|"
                                   th:class="${currentLocation} == 'comments' ? 'active black-text' :'black-text'">Комментарии</a>
                            </li>
                            <li class="tab col s4">
                                <a target="_self"
                                   th:href="|/meeting/${meeting.id}?location=subscribers||"
                                   th:class="${currentLocation} == 'subscribers' ? 'active black-text' :'black-text'">Подписчики</a>
                            </li>
                            <li class="tab col s4">
                                <a target="_self" th:href="|/meeting/${meeting.id}?location=map|"
                                   th:class="${currentLocation} == 'map' ? 'active black-text' :'black-text'">Расположение</a>
                            </li>
                        </ul>
                        <div class="divider"></div>
                        <div th:if="${currentLocation} == 'comments'">
                            <div class="comment-container col s12"
                                 style="margin: 1% 0;padding-left: 0">
                                <div th:each="comment : ${comments}" class="comment"
                                     style="margin-top: 2%">
                                    <div class="comment-author">
                                        <a th:href="|/user/${comment.authorId}|">
                                            <img th:src="${comment.authorPhoto} != null ?
                                    |/icons/${comment.authorPhoto}| : |/icons/no_photo.png|"
                                                 class="author-avatar responsive-img circle"
                                                 style="vertical-align:middle"/>
                                    <span class="black-text author-link"
                                          style="margin-left: 1%" th:text="${comment.authorName}">
                                      </span>
                                        </a>
                                    </div>
                                    <div class="comment-message"
                                         style="margin-left: calc(38px + 1%)">
                                        <p th:text="${comment.text}"></p>
                                        <div class="comment-time" style="margin: 0.3rem 0">
                                            <a class="grey-text"
                                               th:text="${comment.convertDate()}"></a>
                                        </div>
                                    </div>
                                    <div class="divider" style="margin-top: 2%"></div>
                                </div>
                            </div>
                            <div th:if="${username}" class="row comment-form">
                                <form class="col s12">
                                    <div class="row new-comment" style="padding: 0;">
                                        <div class="input-field col s12" style="padding: 0;">
                                            <i class="material-icons prefix">mode_edit</i>
                                        <textarea id="new-comment-text" class="materialize-textarea"
                                                  style="width: calc(100%-3rem)"></textarea>
                                            <label for="new-comment-text">Написать
                                                комментарий</label>
                                        </div>
                                        <a class="send-comment waves-effect waves-light btn right"
                                           th:attr="data-meeting=${meeting.id}">
                                            Отправить
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div th:if="${currentLocation} == 'subscribers'"
                             class="subscribers-container">
                            <div th:each="subscriber : ${subscribers}" class="subscriber">
                                <a th:href="|/user/${subscriber.id}|">
                                    <img th:src="${subscriber.photo} != null
                                    ? |/images/${subscriber.photo}|
                                    : |/images/no_photo.png|"
                                         class="subscriber-photo responsive-img circle"/>
                                    <p class="subscriber-link black-text"
                                       th:href="|/user/${subscriber.id}|"
                                       th:text="|${subscriber.name}|">
                                    </p>
                                    <p class="subscriber-link black-text"
                                       th:href="|/user/${subscriber.id}|"
                                       th:text="|${subscriber.surname}|">
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div th:if="${currentLocation} == 'map'" class="map-container">
                            <div id="map" th:attr="lat=${meeting.latitude}, lng=${meeting.longitude}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="../resources/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../resources/js/materialize.min.js"></script>
<script type="text/javascript" src="../resources/js/send_comment.js"></script>
<script type="text/javascript" src="../resources/js/handlebars-v4.0.5.js"></script>
<script type="text/javascript" src="../resources/js/moment.js"></script>
<script type="text/javascript" src="../resources/js/subscribe_meeting.js"></script>
<script type="text/javascript" src="../resources/js/meeting.js"></script>
<script type="text/javascript" src="../resources/js/search.js"></script>
<script id="comment-template" type="text/x-handlebars-template">
    <div class="comment"
         style="margin-top: 2%">
        <div class="comment-author">
            <a href="{{authorLink}}"><img src="{{authorPhoto}}"
                                          class="author-avatar responsive-img circle"
                                          style="vertical-align:middle"/>
                                    <span class="black-text author-link"
                                          style="margin-left: 1%">
                                        {{authorName}}
                                      </span>
            </a>
        </div>
        <div class="comment-message" style="margin-left: calc(38px + 1%)">
            <p>{{commentText}}</p>
            <div class="comment-time" style="margin: 0.3rem 0">
                <a class="grey-text">{{commentDate}}</a>
            </div>
        </div>
        <div class="divider" style="margin-top: 2%"></div>
    </div>
</script>
<script>
    $(".button-collapse").sideNav();
    $('.collapsible').collapsible();
    //    $('ul.tabs').tabs();
</script>

<script async="async" defer="defer"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsEM2yT9W6NrpKA8HEkDG3VLaa1K12A34&amp;callback=initMap">
</script>

</body>
</html>